<!-- Navigation box for anonymous site visitors -->
<div ng-if="authService.isAnonymous()" class="box">
    <h2>Navigation</h2>
    <ul class="sidebar-menu">
        <li><a href="#/">Home</a></li>
        <li><a href="#/login">Login</a></li>
        <li><a href="#/register">Register</a></li>
    </ul>
</div>

<!-- Navigation box for anonymous site visitors -->
<div class="box">
  <h2>Navigation</h2>
  <ul class="sidebar-menu">
      <li><a href="#/">Home</a></li>
      <li><a href="#/login">Login</a></li>
      <li><a href="#/register">Register</a></li>
  </ul>
</div>
