<div class="jumbotron">
	<div class="row">
		<div class="col-md-9">
			<ul id="ul">
				<li ng-repeat="ad in data.ads">
					<div class="container well">
						<div class="row">
							<div class="col-md-7">
								<h3 class="pull-left">
									{{ad.title}}
								</h3>
							</div>	
							<div class="col-md-5">
								<span class="pull-right">
									{{ad.date|date:'d-MMM-yyyy'}}
								</span>
							</div>		
						</div>
						<div class="row">
							<div class="col-md-4">
								<img src="" ng-src="{{ad.imageDataUrl}}" class="fullHD">
							</div>				
							<div class="col-md-8">
								<div>
									{{ad.text}}
									{{ad.townId}}---
									{{ad.categoryId}}
								</div>	
								<div class="row">
									<div class="col-md-3">
										<strong>
										<div class="panel-body">
											Name:
										</div>

										<div class="panel-body">
											Email:
										</div>
										
										<div class="panel-body">
											Phone:
										</div>
										</strong>
									</div>


									<div class="col-md-9">
							            <div class="well well-sm">
							            	{{ad.ownerName}}
							            </div>

							            <div class="well well-sm">
							            	{{ad.ownerEmail}}
							            </div>

							            <div class="well well-sm">
							            	{{ad.ownerPhone}}
							            </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Categories</h3>
				</div>
				<div class="panel-body" ng-repeat="category in categories">
					{{category.name}}
					{{category.id}}
				</div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Towns</h3>
				</div>
				<div class="panel-body" ng-repeat="town in towns">
					{{town.name}}
					{{town.id}}
				</div>
			</div>  
		</div>
	</div>
</div>