<div class="bs-component col-lg-2" >
    <form class="form-horizontal">
        <div class="boxForm">
            <legend align="center">Change password</legend>

            <div><label for="password">Current Password:</label></div>
            <div><input type="password" id="password" ng-model="userData.oldPassword" required /></div>

            <div><label for="newPassword">New password:</label></div>
            <div><input type="password" id="newPassword" ng-model="userData.newPassword" required /></div>

            <div><label for="confirmPassword">Confirm new password:</label></div>
            <div><input type="password" id="confirmPassword" ng-model="userData.confirmPassword" required /></div>
            <br>
            <div><a href="#/user/profile" class="button">Edit Profile</a></div>
            <div><a ng-click="changePassword(userData)" class="button">Update</a></div>
            <div align="right"><a href="#/" class="link">Cancel</a></div>
        </div>
    </form>
</div>