<div class="box">
    <h2>Change password</h2>
    <p>
        <label for="password">Current Password:</label>
        <input type="password" id="password" ng-model="userData.oldPassword" required />
    </p>
    <p>
        <label for="newPassword">New password:</label>
        <input type="password" id="newPassword" ng-model="userData.newPassword" required />
    </p>
    <p>
        <label for="confirmPassword">Confirm new password:</label>
        <input type="password" id="confirmPassword" ng-model="userData.confirmPassword" required />
    </p>
    <p>
        <a href="#/user/profile" class="button">Edit Profile</a>
        <a ng-click="changePassword(userData)" class="button">Change Password</a>
        <a href="#/" class="link">Cancel</a>
    <p>
</div>