<div class="bs-component col-lg-3" >
  <form class="form-horizontal">
    <div class="boxForm">
        <legend align="center">Edit Profile</legend>

        <div><label for="username">Username:</label></div>
        <div><input type="text" id="username" ng-value="userData.username" ng-model="userData.username" required /></div>

        <div><label for="name">Name:</label></div>
        <div><input type="text" id="name" ng-value="userData.name" ng-model="userData.name" required /></div>

        <div><label for="email">Email:</label></div>
        <div><input type="text" id="email" ng-value="userData.email" ng-model="userData.email" required /></div>

        <div><label for="phone">Phone:</label></div>
        <div><input type="text" id="phone" ng-value="userData.phone" ng-model="userData.phone" required /></div>

        <div><label for="town">Town:</label></div>
        <div>
            <select id="town" ng-model="userData.townId" ng-selected="userData.townId">
                <option value="null">(None)</option>
                <option ng-repeat="town in towns" value="{{town.id}}">{{town.name}}</option>
            </select>
        </div>
        <br>
        <div><a ng-click="editProfile(userData)" class="button">Update</a></div>
        
        <div><a href="#/user/password" class="button">ChangePassword</a></div>
        <div align="right"><a href="#/" class="link">Cancel</a></div>
        
    </div>
    </form>
</div>