<pagination total-items="ads.numItems" ng-model="adsParams.startPage"
  items-per-page="adsParams.pageSize" ng-change="reloadAds()"
  max-size="9" boundary-links="true">
</pagination>

<ul class="ads">
    <li ng-repeat="ad in ads.ads" class="box" data-id="{{ad.id}}">
        <h1>{{ad.title}}</h1>
        <div><strong>Date:</strong> {{ad.date | date:'dd-MMM-yyyy'}}</div>
        <div ng-if='ad.imageDataUrl'>
            <strong>Image:</strong>
            <img class="ad-image" ng-src="{{ad.imageDataUrl}}" />
        </div>
        <div><strong>Text:</strong> {{ad.text}}</div>
        <div><strong>Name:</strong> {{ad.ownerName}}</div>
        <div><strong>Email:</strong> {{ad.ownerEmail}}</div>
        <div><strong>Phone:</strong> {{ad.ownerPhone}}</div>
        <div><a href="#/user/ads/edit/{{ad.id}}/{{ad.title}}">Edit</a></div>
    </li>
</ul>

<div ng-if="ads.ads.length==0" class="box no-data">
    No ads found.
</div>