<ul class="ads">
    <li ng-repeat="ad in ads.ads" class="box" data-id="{{ad.id}}">
        <div class="row">
            <div class="col-md-8">
                <h2 class="pull-left">{{ad.title}}</h2>
            </div>
            <div class="col-md-4" >
                <span class="pull-right">
                    <strong>{{ad.date | date:'d-MMM-yyyy'}}</strong>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <img class="ad-image" ng-src="{{ad.imageDataUrl}}" />
                    </div>              
                    <div class="col-md-9"> 
                        <div class="panel panel-default">
                            <div class="panel-body">{{ad.text}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <strong>
                                    <span class="pull-right">
                                        <div class="panel-body">Name:</div>
                                        <div class="panel-body">Email:</div>
                                        <div class="panel-body">Phone:</div>
                                    </span>    
                                </strong>
                            </div>
                            <div class="col-md-10"> 
                                <div class="well well-sm ng-binding">{{ad.ownerName}}</div>
                                <div class="well well-sm ng-binding">{{ad.ownerEmail}}</div>
                                <div class="well well-sm ng-binding">{{ad.ownerPhone}}</div>
                                <div><strong><span class="pull-right"><a href="#/user/ads/edit/{{ad.id}}/{{ad.title}}">Edit</a></span></strong></div>
                            </div>
                        </div>
                    </div>
                </div>        
            </div>    
        </div> 
    </li>
</ul>

<div ng-if="ads.ads.length==0" class="box no-data">
    No ads found.
</div>

<pagination total-items="ads.numItems" ng-model="adsParams.startPage"
  items-per-page="adsParams.pageSize" ng-change="reloadAds()"
  max-size="9" boundary-links="true">
</pagination>